@import 'variables';
.App {
  text-align: center;
}

h1 {
  font-size: 50px;
  font-family: $header-font;
  margin: 0;
  color: $highlight_color;
}

h2 {
  font-size: 25px;
  font-family: $text-font;
  margin: 0;
}

button:focus {
  outline: none;
}

.App-header {
  margin-top: 80px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.card_container {
  max-width: 1407px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
