@import 'variables';
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 20px;

  img {
    width: 150px !important;;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  //padding: 20px;


  button {
    background-color: $base_color;
    border-color: $border_color;
    border-width: 1px;
    cursor: pointer;
  }

  input {
    height: 30px;
    font-size: 24px;
    padding-left: 10px;
  }

  input:focus {
    outline: none !important;
    border: 1px solid $border_color;
    box-shadow: 0 0 10px $base_color;
  }
}


@media (max-width: 675px) {

  .search-container{
    padding-left: 0;
    padding-right: 0;
  }
}

.search-food-results {
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
   overflow: auto;
  max-height: 670px;

  .button{
    width: 40%;
  }

  .search-food-results_item {
    padding: 10px 10px 30px;
    width: 300px;
    text-align: center;

    .search-food-results_item_title {
      height: 102px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      text-align: center;
      padding: 5px;
    }

    img {
      width: 300px;
      height: 300px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .search-food-results_item_infos {
      padding-top: 5px;
    }

    .search-food-results_item_infos_dietLabel {
      color: $highlight_color;
      height: 31px;
    }

    .search-food-results_item_infos_calories_preptime {
      display: flex;
      flex-direction: row;
    }

    .search-food-results_item_infos_healthLabels {
      color: grey;
      text-transform: lowercase;
      height: 49px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 10px;

    }

    .search-food-results_item_infos_calories_preptime p:last-child {
      margin-left: auto;
    }
  }
}
